In [2]:
import os
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
print(np.__version__)

2.2.2

### Import Files & Check Datatypes

In [4]:
print(os.path.exists(r"C:\Data\middleby-de-assignment\de_assignment_resources\sales.csv"))

True

In [5]:
sales = pd.read_csv(r"C:\Data\middleby-de-assignment\de_assignment_resources\sales.csv")

In [6]:
# Display the first 25 rows
print(sales.head(25))

          code  amount  units  time  province  week  customerId  supermarket  \
0   7680850106    0.80      1  1100         2     1      125434          244
1   3620000470    3.59      1  1100         2     1      125434          244
2   1800028064    2.25      1  1137         2     1      108320          244
3   9999985067    0.85      1  1148         2     1      162016          244
4   9999985131    2.19      1  1323         2     1       89437          244
5   5100002794    2.19      1  1323         2     1       89437          244
6   1800000957    3.45      1  1415         2     1      158549          244
7   9999985051    1.29      1  1415         2     1      158549          244
8   9999985053    0.75      1  1513         2     1       18851          244
9   3620000446    2.19      1  1523         2     1      118337          244
10  3000005620    3.65      1  1624         2     1        8283          244
11  3340060177    1.50      1  1624         2     1        8283          244
12  4112907712    3.65      1  1624         2     1        8283          244
13  5100015056    3.19      1  1711         2     1      125537          244
14  9999985001    0.45      1  1711         2     1      125537          244
15  9999985047    0.75      1  1738         2     1        6074          244
16  1510000236    1.19      1  1754         2     1      108013          244
17  3620000446    2.19      1  1754         2     1      108013          244
18  2066200020    2.79      1  1815         2     1       53674          244
19  9999985070    0.79      1  1815         2     1       53674          244
20  9999985067    0.85      1  1815         2     1       53674          244
21  5100005045    2.19      1  1834         2     1       69963          244
22  9999985071    0.79      1  1838         2     1      113524          244
23  5100001212    2.19      1  1838         2     1      113524          244
24  9999985766    1.79      1  1934         2     1      168571          244

    basket  day  voucher
0        1    1        0
1        1    1        0
2        2    1        0
3        3    1        0
4        4    1        0
5        4    1        0
6        5    1        0
7        5    1        0
8        6    1        0
9        7    1        0
10       8    1        0
11       8    1        0
12       8    1        0
13       9    1        0
14       9    1        0
15      10    1        0
16      11    1        0
17      11    1        0
18      12    1        0
19      12    1        0
20      12    1        0
21      13    1        0
22      14    1        0
23      14    1        0
24      15    1        0

In [7]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   code         1048575 non-null  int64
 1   amount       1048575 non-null  float64
 2   units        1048575 non-null  int64
 3   time         1048575 non-null  int64
 4   province     1048575 non-null  int64
 5   week         1048575 non-null  int64
 6   customerId   1048575 non-null  int64
 7   supermarket  1048575 non-null  int64
 8   basket       1048575 non-null  int64
 9   day          1048575 non-null  int64
 10  voucher      1048575 non-null  int64
dtypes: float64(1), int64(10)
memory usage: 88.0 MB

In [8]:
# 479 individual items under a promotion
sales["code"].value_counts()

code
9999985020    18009
9999985004    17703
3620000250    17238
9999985068    14756
9999985021    11118
              ...
7468390200        1
6971911731        1
566300029         1
2920000813        1
2682500951        1
Name: count, Length: 782, dtype: int64

In [9]:
# 381 supermarkets participating
sales["amount"].value_counts()

amount
 0.99     113373
 1.99      68498
 1.19      51427
 1.50      50129
 0.79      44778
           ...
 27.96         1
 25.00         1
-1.41          1
 4.06          1
 2.57          1
Name: count, Length: 971, dtype: int64

In [10]:
sales["units"].value_counts()

units
1      889944
2      134427
3       15725
4        5995
5        1102
6         833
8         180
10        104
7         100
9          53
12         42
11         15
14          7
15          6
20          6
16          6
13          5
24          4
30          4
19          3
18          2
17          2
23          2
25          2
100         1
29          1
31          1
26          1
34          1
22          1
Name: count, dtype: int64

In [11]:
sales["time"].value_counts()

time
1738    2027
1734    2025
1718    2025
1713    2023
1745    2020
        ...
434        5
343        5
435        4
422        4
438        2
Name: count, Length: 1440, dtype: int64

In [12]:
sales["province"].value_counts()

province
1    585761
2    462814
Name: count, dtype: int64

In [13]:
sales["week"].value_counts()

week
27    72804
12    62488
3     54344
4     53512
26    52976
13    49905
25    49664
7     49608
8     47702
6     47036
15    46973
23    46956
14    44014
5     43824
1     43148
11    43044
24    42737
2     42443
16    39012
9     27909
17    25407
10    21164
28    20983
18    15066
22     5856
Name: count, dtype: int64

In [14]:
sales["customerId"].value_counts()

customerId
369388    88
293395    83
265319    77
56869     74
28955     72
          ..
63120      1
223267     1
377449     1
193713     1
268836     1
Name: count, Length: 249610, dtype: int64

In [15]:
sales["supermarket"].value_counts()

supermarket
270    6978
71     6859
359    6805
326    6488
371    6392
       ...
236     672
370     622
299     562
120     528
13      472
Name: count, Length: 376, dtype: int64

In [16]:
sales["basket"].value_counts()

basket
304689    24
564677    21
178970    17
361216    16
304281    15
          ..
665427     1
665428     1
665433     1
665438     1
665440     1
Name: count, Length: 665450, dtype: int64

In [17]:
sales["day"].value_counts()

day
189    13659
183    12090
78     11091
84     10669
184    10487
       ...
60      2412
66      2389
153       30
124       23
195       17
Name: count, Length: 166, dtype: int64

In [18]:
sales["voucher"].value_counts()

voucher
0    1023868
1      24707
Name: count, dtype: int64

In [19]:
sales.describe()

,code,amount,units,time,province,week,customerId,supermarket,basket,day,voucher
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,6.067646e+09,1.780470e+00,1.188219e+00,1.543165e+03,1.441374e+00,1.347071e+01,2.003481e+05,1.980431e+02,3.333491e+05,9.119343e+01,2.356245e-02
std,3.154184e+09,5.966503e+00,5.466197e-01,3.833751e+02,4.965514e-01,8.549682e+00,1.247446e+05,1.122828e+02,1.917741e+05,5.983773e+01,1.516815e-01
min,1.111124e+08,-8.280000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,3.620000e+09,9.900000e-01,1.000000e+00,1.259000e+03,1.000000e+00,6.000000e+00,9.211700e+04,1.010000e+02,1.681505e+05,3.900000e+01,0.000000e+00
50%,5.100003e+09,1.500000e+00,1.000000e+00,1.601000e+03,1.000000e+00,1.200000e+01,1.905030e+05,2.000000e+02,3.318470e+05,8.300000e+01,0.000000e+00
75%,9.999982e+09,2.190000e+00,1.000000e+00,1.824000e+03,2.000000e+00,2.300000e+01,3.039840e+05,2.950000e+02,5.000225e+05,1.570000e+02,0.000000e+00
max,9.999986e+09,5.900000e+03,1.000000e+02,2.359000e+03,2.000000e+00,2.800000e+01,5.100270e+05,3.850000e+02,6.654500e+05,1.950000e+02,1.000000e+00

### Convert Int Column Values to Time

In [20]:
# Function to convert integer to time
def int_to_time(time_int):
    # Zero-pad the integer to ensure it has at least 4 digits
    time_str = f'{time_int:04}'
    # Parse the string into a datetime object
    time_obj = datetime.strptime(time_str, '%H%M')
    # Return the time component
    return time_obj.time()

# Apply the function to the 'time_int' column
sales['time'] = sales['time'].apply(int_to_time)

print(sales)

               code  amount  units      time  province  week  customerId  \
0        7680850106    0.80      1  11:00:00         2     1      125434
1        3620000470    3.59      1  11:00:00         2     1      125434
2        1800028064    2.25      1  11:37:00         2     1      108320
3        9999985067    0.85      1  11:48:00         2     1      162016
4        9999985131    2.19      1  13:23:00         2     1       89437
...             ...     ...    ...       ...       ...   ...         ...
1048570  1510000011    2.35      1  13:07:00         2    27       43825
1048571  3620000489    0.99      1  13:07:00         2    27       43825
1048572  9999971309    2.00      2  14:10:00         2    27       42140
1048573  3620000250    1.98      2  14:15:00         2    27       53544
1048574  3620000350    1.98      2  14:15:00         2    27       53544

         supermarket  basket  day  voucher
0                244       1    1        0
1                244       1    1        0
2                244       2    1        0
3                244       3    1        0
4                244       4    1        0
...              ...     ...  ...      ...
1048570          346  665448  189        0
1048571          346  665448  189        0
1048572          346  665449  189        0
1048573          346  665450  189        0
1048574          346  665450  189        0

[1048575 rows x 11 columns]

In [21]:
sales["amount"].describe()

count    1.048575e+06
mean     1.780470e+00
std      5.966503e+00
min     -8.280000e+00
25%      9.900000e-01
50%      1.500000e+00
75%      2.190000e+00
max      5.900000e+03
Name: amount, dtype: float64