In [4]:
import os
import pandas as pd
import numpy as np

In [5]:
print(np.__version__)

2.2.2

### Import Files & Check Datatypes

In [6]:
print(os.path.exists(r"C:\Data\middleby-de-assignment\de_assignment_resources\supermarkets.csv"))

True

In [7]:
supermarkets = pd.read_csv(r"C:\Data\middleby-de-assignment\de_assignment_resources\supermarkets.csv")

In [10]:
# Display the first 25 rows
print(supermarkets.head(25))

    supermarket_No  postal-code
0              199        30319
1              200        30134
2              201        30066
3              202        31093
4              203        30542
5              204        31069
6              205        30062
7              206        30534
8              207        30024
9              208        37918
10             209        37914
11             210        30101
12             211        38555
13             212        30041
14             213        30125
15             214        35810
16             215        37922
17             216        30101
18             217        30047
19             218        30161
20             219        30338
21               1        37865
22               2        30084
23               3        30039
24               4        31210

In [11]:
supermarkets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   supermarket_No  387 non-null    int64
 1   postal-code     387 non-null    int64
dtypes: int64(2)
memory usage: 6.2 KB

In [12]:
# 387 supermarkets
supermarkets["supermarket_No"].value_counts()

supermarket_No
387    1
199    1
200    1
348    1
349    1
      ..
205    1
206    1
207    1
208    1
209    1
Name: count, Length: 387, dtype: int64

In [13]:
# 299 postal codes
supermarkets["postal-code"].value_counts()

postal-code
37211    5
30064    4
40502    4
37918    3
37064    3
        ..
30341    1
37863    1
37923    1
30909    1
62959    1
Name: count, Length: 299, dtype: int64